In [1]:
!pip install yahoo_fin

Collecting yahoo_fin
  Downloading https://files.pythonhosted.org/packages/d3/5c/6bf0c0147cc94d643e2a2413d0a9b27967e964ee99f88f26db93a0b963b8/yahoo_fin-0.8.6-py3-none-any.whl
Installing collected packages: yahoo-fin
Successfully installed yahoo-fin-0.8.6

In [3]:
import yahoo_fin.stock_info as si
import pandas as pd

# cac40 = ['RI.PA','VIV.PA','LR.PA','AI.PA','BMW.BE']
# cac40 = ['RI.PA','VIV.PA','LR.PA','AI.PA','VT9.HM']
cac40 = ['RI.PA','VIV.PA','LR.PA','AI.PA','BMWB.F']

def create_price(tab):
    prices = {}
    for ticker in tab:
        prices[ticker] = si.get_income_statement(ticker)
    return prices

prices = create_price(cac40) #dictionnaire de Dataframe

#http://theautomatic.net/yahoo_fin-documentation/

In [6]:
display(prices["BMWB.F"])

endDate                              2019-12-31  ...   2016-12-31
Breakdown                                        ...
researchDevelopment                        None  ...         None
effectOfAccountingCharges                  None  ...         None
incomeBeforeTax                      7118000000  ...   9665000000
minorityInterest                      583000000  ...    255000000
netIncome                            4915000000  ...   6863000000
sellingGeneralAdministrative         8067000000  ...   7942000000
grossProfit                         16675000000  ...  17271000000
ebit                                 8722000000  ...   9231000000
operatingIncome                      8722000000  ...   9231000000
otherOperatingExpenses               -114000000  ...     98000000
interestExpense                      -451000000  ...   -387000000
extraordinaryItems                         None  ...         None
nonRecurring                               None  ...         None
otherItems                                 None  ...         None
incomeTaxExpense                     2140000000  ...   2755000000
totalRevenue                       104210000000  ...  94174000000
totalOperatingExpenses              95488000000  ...  84943000000
costOfRevenue                       87535000000  ...  76903000000
totalOtherIncomeExpenseNet          -1604000000  ...    434000000
discontinuedOperations                 44000000  ...    -33000000
netIncomeFromContinuingOps           4978000000  ...   6910000000
netIncomeApplicableToCommonShares    4915000000  ...   6863000000

[22 rows x 4 columns]

In [15]:
type(prices["BMWB.F"])
print(prices["BMWB.F"].index)
print(prices["BMWB.F"].columns)

Index(['researchDevelopment', 'effectOfAccountingCharges', 'incomeBeforeTax',
       'minorityInterest', 'netIncome', 'sellingGeneralAdministrative',
       'grossProfit', 'ebit', 'operatingIncome', 'otherOperatingExpenses',
       'interestExpense', 'extraordinaryItems', 'nonRecurring', 'otherItems',
       'incomeTaxExpense', 'totalRevenue', 'totalOperatingExpenses',
       'costOfRevenue', 'totalOtherIncomeExpenseNet', 'discontinuedOperations',
       'netIncomeFromContinuingOps', 'netIncomeApplicableToCommonShares'],
      dtype='object', name='Breakdown')
DatetimeIndex(['2019-12-31', '2019-01-01', '2018-01-01', '2016-12-31'], dtype='datetime64[ns]', name='endDate', freq=None)

In [37]:
List_of_index = prices["BMWB.F"].index
print(prices["BMWB.F"].iloc[List_of_index.get_loc('totalRevenue')])
print(type(prices["BMWB.F"].iloc[List_of_index.get_loc('totalRevenue')]))

endDate
2019-12-31    104210000000
2019-01-01     96855000000
2018-01-01     98282000000
2016-12-31     94174000000
Name: totalRevenue, dtype: object
<class 'pandas.core.series.Series'>

In [43]:
Test_data = prices["BMWB.F"]
New_data = Test_data.drop(['researchDevelopment', 'effectOfAccountingCharges', 'incomeBeforeTax',
       'minorityInterest', 'sellingGeneralAdministrative',
       'grossProfit', 'operatingIncome', 'otherOperatingExpenses',
       'interestExpense', 'extraordinaryItems', 'nonRecurring', 'otherItems',
       'incomeTaxExpense', 'totalOperatingExpenses',
       'costOfRevenue', 'totalOtherIncomeExpenseNet', 'discontinuedOperations',
       'netIncomeFromContinuingOps', 'netIncomeApplicableToCommonShares'])

In [ ]:
display(New_data)

In [87]:
import xlsxwriter

cac2 = ['RI.PA','VIV.PA']
df = create_price(cac2)

def traitement(df):
  for tickers in cac2:
    df[tickers] = df[tickers].drop(['researchDevelopment', 'effectOfAccountingCharges', 'incomeBeforeTax',
       'minorityInterest', 'sellingGeneralAdministrative',
       'grossProfit', 'operatingIncome', 'otherOperatingExpenses',
       'interestExpense', 'extraordinaryItems', 'nonRecurring', 'otherItems',
       'incomeTaxExpense', 'totalOperatingExpenses',
       'costOfRevenue', 'totalOtherIncomeExpenseNet', 'discontinuedOperations',
       'netIncomeFromContinuingOps', 'netIncomeApplicableToCommonShares'])
  return df

def frames_to_excel(df_dict):
    """Write dictionary of dataframes to separate sheets, within 
        1 file."""
    writer = pd.ExcelWriter('Compte Conso.xlsx')
    ligne = 0

    for tab_name, dframe in df_dict.items():
        dframe.to_excel(writer,index_label=tab_name,startrow = ligne)
        ligne = ligne + len(df_dict[tab_name]) + 2

    writer.save()
    return None

frames_to_excel(traitement(df))

In [56]:
!pip install XlsxWriter

Collecting XlsxWriter
  Downloading https://files.pythonhosted.org/packages/6b/41/bf1aae04932d1eaffee1fc5f8b38ca47bbbf07d765129539bc4bcce1ce0c/XlsxWriter-1.3.7-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 2.8MB/s
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-1.3.7

In [80]:
cac2 = ['RI.PA','VIV.PA']
df = create_price(cac2)
# display(traitement(df))
print(len(traitement(df)['RI.PA']))

3