In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

import time

start_time = time.time()
print("hello")
print("--- %s seconds ---" % (time.time() - start_time))

hello
--- 0.0 seconds ---

# Traitement des Données Bruts

In [2]:
data_all = pd.read_csv('extrait20jan.csv')
print(data_all.shape)
display(data_all)

(2723166, 3)

,entreprise,secteurActivite,secteurActiviteLibelle
0,{},NaN,NaN
1,{'nom': 'Randstad'},NaN,NaN
2,"{'nom': 'RANDSTAD', 'description': ""Randstad v...",78.0,Activités des agences de travail temporaire
3,"{'nom': 'QUALISENS/ REACT FRANCE', 'descriptio...",70.0,Conseil pour les affaires et autres conseils d...
4,{'nom': 'MAIRIE'},84.0,Administration publique générale
...,...,...,...
2723161,"{'nom': 'FEDERATION APAJH', 'description': 'La...",88.0,Accueil ou accompagnement sans hébergement d'e...
2723162,{'nom': 'FEDERATION APAJH'},88.0,Accueil ou accompagnement sans hébergement d'e...
2723163,"{'nom': 'UFOLEP MAYOTTE', 'description': ""L'Uf...",93.0,Autres activités liées au sport
2723164,{},88.0,Accueil ou accompagnement sans hébergement d'a...
2723165,{'nom': 'SARL Centre de Formation Insertion'},85.0,Formation continue d'adultes

### Reduction de la base

In [288]:
data = data_all.loc[100000:150000,:]
data = data.reset_index()[["entreprise", "secteurActivite", "secteurActiviteLibelle"]]
data.shape

(50001, 3)

### Suppression valeur inutile

In [289]:
datac = data.dropna(subset = ["secteurActiviteLibelle"])
datac = datac.reset_index()[["entreprise", "secteurActivite", "secteurActiviteLibelle"]]
# datac.index = np.arange(len(datac.index))

In [290]:
L = []
for i in range(datac.shape[0]):
    if 'description' not in datac.loc[i, "entreprise"]:
        L.append(i)
datac = datac.drop(L)
datac = datac.reset_index()[["entreprise", "secteurActivite", "secteurActiviteLibelle"]]

In [291]:
start_time = time.time()

for i in range (0,len(datac["entreprise"])):
    if type(datac.loc[i,"entreprise"]) == str:
        datac["entreprise"][i] = eval(datac["entreprise"][i])
        
print("--- %s seconds ---" % (time.time() - start_time))

<ipython-input-291-d3f285a7cdce>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datac["entreprise"][i] = eval(datac["entreprise"][i])

--- 6.025302410125732 seconds ---

https://stackoverflow.com/questions/39169718/convert-string-to-dict-then-access-keyvalues-how-to-access-data-in-a-class

In [292]:
data.shape[0]-datac.shape[0]

34550

In [293]:
type(datac.loc[1,"entreprise"])

dict

In [294]:
display(datac)

,entreprise,secteurActivite,secteurActiviteLibelle
0,"{'nom': 'MAIGRIR 2000', 'description': 'Maigri...",70.0,Conseil pour les affaires et autres conseils d...
1,"{'nom': 'AQUADOM63', 'description': 'Envoyer C...",96.0,Autres services personnels n.c.a.
2,"{'nom': 'RANDSTAD', 'description': 'Chaque ann...",78.0,Activités des agences de travail temporaire
3,"{'nom': 'IZIWORK', 'description': 'iziwork est...",78.0,Activités des agences de travail temporaire
4,"{'nom': 'SARL LE VERT GALANT', 'description': ...",87.0,Hébergement médicalisé pour personnes âgées
...,...,...,...
15446,"{'nom': 'ABALONE TT PUY EN VELAY', 'descriptio...",78.0,Activités des agences de travail temporaire
15447,"{'nom': 'ENTREPRISE FAURIE', 'description': 'L...",42.0,Construction de réseaux pour fluides
15448,"{'nom': 'SSIAD SUD ARDECHE - LARGENTIERE', 'de...",88.0,Aide à domicile
15449,"{'nom': 'HOPITAL PRIVE DE SAINT AGREVE', 'desc...",86.0,Activités hospitalières
15450,"{'nom': 'ABALONE TT PUY EN VELAY', 'descriptio...",78.0,Activités des agences de travail temporaire

In [295]:
from sklearn.model_selection import train_test_split
Xdata = datac.iloc[:,0:2]
Ydata = datac.loc[:,"secteurActivite"]
X_train, X_test, Y_train, Y_test = train_test_split(Xdata,Ydata, test_size = 0.3) # 30% de données pour test
X_train = X_train.reset_index()[["entreprise", "secteurActivite"]]
X_test = X_test.reset_index()[["entreprise", "secteurActivite"]]
Y_train = Y_train.reset_index()[["secteurActivite"]]
Y_test = Y_test.reset_index()[["secteurActivite"]]

In [296]:
display(X_train)

                                              entreprise  secteurActivite
0      {'nom': 'ADIS', 'description': 'G.I.E. ADIS, 4...             82.0
1      {'nom': 'AGARDOM AUBUSSON ', 'description': 'A...             88.0
2      {'nom': 'OVELIA 06', 'description': 'Créée en ...             87.0
3      {'nom': 'RANDSTAD', 'description': 'Randstad v...             78.0
4      {'nom': 'FIELD & SOLUTIONS', 'description': 'T...             73.0
...                                                  ...              ...
10810  {'nom': 'RAS 280', 'description': 'Depuis sa c...             78.0
10811  {'nom': 'DetailCar (SARL Clean'Max)', 'descrip...             45.0
10812  {'nom': 'ROBIN PEPINIERES EARL', 'description'...              1.0
10813  {'nom': 'DALVERNY DENIS', 'description': 'Effi...             46.0
10814  {'nom': 'RANDSTAD INHOUSE', 'description': 'Ra...             78.0

[10815 rows x 2 columns]

In [297]:
display(X_test)

                                             entreprise  secteurActivite
0     {'nom': 'PHARMACIE PARC CHAMPAGNE', 'descripti...             47.0
1     {'nom': 'GCATRANS', 'description': 'Le Groupe ...             70.0
2     {'nom': 'RECTORAT', 'description': 'Merci d'en...             84.0
3     {'nom': 'TEREBINTHE CONSEIL', 'description': '...             78.0
4     {'nom': 'FOYER DE VIE LES GUERINS', 'descripti...             87.0
...                                                 ...              ...
4631  {'nom': 'QUALISENS/ REACT FRANCE', 'descriptio...             70.0
4632  {'nom': 'ALBAREA', 'description': 'EHPAD ALBAR...             87.0
4633  {'nom': 'Axxis Intérim et Recrutement Clermont...             78.0
4634  {'nom': 'ASS.AIDE A DOMIC. CTRES SOCIA. ALLIER...             88.0
4635  {'nom': 'COMMUNAUTE DE COMMUNES DU PAYS DES EC...             84.0

[4636 rows x 2 columns]

# Construction des Bag Of Word : Base de donnée

### Si on souhaite faire de l'entrainement supervisé, il faut associer les descriptions à des secteurs

In [298]:
import re
start_time = time.time()

bag_of_word = {}

for i in range(X_train["secteurActivite"].shape[0]):
    bag_of_word[X_train.loc[i,"secteurActivite"]] = []


for i in range(X_train["entreprise"].shape[0]):
    try :
        if bag_of_word[X_train.loc[i,"secteurActivite"]] == [] :
            bag_of_word[X_train.loc[i,"secteurActivite"]] = re.findall(r'^|\w+',X_train.loc[i,"entreprise"]["description"].lower())
        else:
            for x in re.findall(r'^|\w+',X_train.loc[i,"entreprise"]["description"]) :
                bag_of_word[X_train.loc[i,"secteurActivite"]].append(x.lower()) #si ce n'est pas vide il faut enrichir la description
            
    except Exception as error:
        None
        
print("--- %s seconds ---" % (time.time() - start_time))

--- 8.271039247512817 seconds ---

In [299]:
len(bag_of_word)

63

In [300]:
len(bag_of_word[78])

108163

**Donc là, on a un gros dictionnaire, qui associe à un secteur plusieurs mots. On va enlever les mots trop court et les chiffres**

In [301]:
start_time = time.time()
elements = list(bag_of_word.keys())

for key in elements:
    temp = []
    for x in bag_of_word[key]:
        
        try :
            if type(int(x[0])) == int:
                None
        except :
            if len(x) > 3:
                temp.append(x)
                
        bag_of_word[key] = temp
print("--- %s seconds ---" % (time.time() - start_time))

--- 1.2677040100097656 seconds ---

**On va enlever les dictionnaires vides**

In [302]:
elements = list(bag_of_word.keys())

for key in elements:
    if bag_of_word[key] == set(): #dictionnaire vide
        del bag_of_word[key]
        
len(bag_of_word)

63

**On va supprimer les doublons en les transformant en dict avec set et on les remet en list**

In [303]:
for key in elements:
    bag_of_word[key] = list(set(bag_of_word[key]))

In [304]:
len(bag_of_word[78])

1007

In [305]:
dim_bag = []
for key in elements:
    dim_bag.append(len(bag_of_word[key]))

dim_bag

[230,
 863,
 640,
 1007,
 91,
 548,
 557,
 241,
 679,
 464,
 77,
 395,
 249,
 501,
 152,
 109,
 499,
 51,
 161,
 116,
 280,
 474,
 314,
 37,
 200,
 57,
 173,
 109,
 37,
 247,
 37,
 35,
 289,
 136,
 112,
 59,
 27,
 112,
 104,
 29,
 57,
 57,
 148,
 22,
 59,
 138,
 20,
 97,
 22,
 69,
 110,
 77,
 20,
 60,
 67,
 39,
 92,
 35,
 43,
 16,
 4,
 30,
 32]

# Partie Code NAF

In [245]:
codeNAF = pd.read_excel("Referentiel NAF - APE Copie de naf7166.xls")
codeNAF.head()

,NAF 732,A129,A88,A38,A17,A4,INTITULÉS
0,0000Z,Z00Z,0,ZZ,ZZ,5,Activité inconnue
1,0111Z,A01Z,1,AZ,AZ,1,"Culture de céréales (à l'exception du riz), de..."
2,0112Z,A01Z,1,AZ,AZ,1,Culture du riz
3,0113Z,A01Z,1,AZ,AZ,1,"Culture de légumes, de melons, de racines et d..."
4,0114Z,A01Z,1,AZ,AZ,1,Culture de la canne à sucre

In [276]:
dicoNAF = {}
intitul = list(set(list(codeNAF.A17))) #supprime les doublons

for j in range(len(intitul)):
    temp=[]
    for i in range(codeNAF.shape[0]):
        if codeNAF.loc[i,"A17"] == intitul[j]:
            temp.append(codeNAF.loc[i,"A88"])

    dicoNAF[intitul[j]] = list(set(temp))

In [277]:
display(dicoNAF)

{'JZ': [58, 59, 60, 61, 62, 63],
 'C3': [26, 27, 28],
 'C5': [32, 33, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 31],
 'AZ': [1, 2, 3],
 'C4': [29, 30],
 'LZ': [68],
 'C2': [19],
 'FZ': [41, 42, 43],
 'KZ': [64, 65, 66],
 'C1': [10, 11, 12],
 'GZ': [45, 46, 47],
 'MN': [69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82],
 'OQ': [84, 85, 86, 87, 88],
 'IZ': [56, 55],
 'DE': [35, 36, 5, 6, 7, 8, 9, 37, 38, 39],
 'RU': [96, 97, 98, 99, 90, 91, 92, 93, 94, 95],
 'ZZ': [0],
 'HZ': [49, 50, 51, 52, 53]}

On a nos équivalents NAF

In [306]:
new_bag_of_word = {}

for lettre in intitul:
    new_bag_of_word[lettre] = []

for lettre in intitul :
    for x in dicoNAF[lettre]:
        try :
            new_bag_of_word[lettre] = new_bag_of_word[lettre] + bag_of_word[x]
        except:
            print("pas de description pour le secteur " + str(x))

pas de description pour le secteur 60
pas de description pour le secteur 26
pas de description pour le secteur 27
pas de description pour le secteur 13
pas de description pour le secteur 14
pas de description pour le secteur 15
pas de description pour le secteur 18
pas de description pour le secteur 3
pas de description pour le secteur 19
pas de description pour le secteur 12
pas de description pour le secteur 75
pas de description pour le secteur 5
pas de description pour le secteur 6
pas de description pour le secteur 7
pas de description pour le secteur 8
pas de description pour le secteur 9
pas de description pour le secteur 37
pas de description pour le secteur 39
pas de description pour le secteur 97
pas de description pour le secteur 98
pas de description pour le secteur 99
pas de description pour le secteur 92
pas de description pour le secteur 0
pas de description pour le secteur 50
pas de description pour le secteur 51
pas de description pour le secteur 53

In [307]:
for key in intitul:
    new_bag_of_word[key] = set(new_bag_of_word[key])

In [308]:
dim_new_bag = []
for key in intitul:
    dim_new_bag.append(len(new_bag_of_word[key]))

display(pd.DataFrame({"nombre de mots":dim_new_bag},index = intitul))

    nombre de mots
JZ             293
C3              57
C5             586
AZ             107
C4             139
LZ             241
C2               0
FZ             511
KZ             331
C1             286
GZ             948
MN            1824
OQ            2049
IZ             508
DE             163
RU             822
ZZ               0
HZ             308

In [309]:
for key in intitul:
    if new_bag_of_word[key] == set(): #dictionnaire vide
        del new_bag_of_word[key]
        
len(new_bag_of_word)

16

### Enlever les mots en commun

In [310]:
#test
a=[1,2,3,4,5,6,7,8,'chat','chien','oiseau']
b=[2,4,1,10,11,12,'chat','chien','grenouille']
# I want the result to be like
print(set(a).difference(b))
print(set(b).difference(a))

{3, 5, 6, 7, 8, 'oiseau'}
{'grenouille', 10, 11, 12}

In [311]:
for key1 in new_bag_of_word.keys():
    for key2 in new_bag_of_word.keys():
        if key1 != key2:
            new_bag_of_word[key1] = set(new_bag_of_word[key1]).difference(new_bag_of_word[key2])

dim_new_bag = []
for key in new_bag_of_word.keys():
    dim_new_bag.append(len(new_bag_of_word[key]))

display(pd.DataFrame({"nombre de mots":dim_new_bag},index = new_bag_of_word.keys()))

    nombre de mots
JZ              63
C3              16
C5             196
AZ              36
C4              47
LZ              58
FZ             177
KZ              70
C1             101
GZ             368
MN             974
OQ            1406
IZ             324
DE              97
RU             706
HZ             308

# Construction de la matrice de distance de Jacard

Remarque : alors le premier but était d'identifier des clusters de mots via cette distance, mais le problème est que si l'on parvient à identifier des clusters, les associer à ceux NAF semble inexacte, dans tous les cas, ces clusters seront uniques.

//

Mais du coup, c'est comme meme utile dans la mesure où, j'ai constitué des bag of word et on veut savoir si ils sont assez différents les uns des autres

### Distance de jaccard

La distance de jaccard est très utilisée pour comparer des objets décrit par des ensembles de propriétés.

Elle vaut si :

- 1 : aucun mots en commun
- 0 : même vocabulaire

In [164]:
base = new_bag_of_word['MN']

similarite = []
for lettre, descriptif in new_bag_of_word.items(): 
    similarite.append([1 - len(base.intersection(descriptif)) / len(base.union(descriptif)), lettre])
    
similarite.sort()

In [165]:
similarite

[[0.0, 'MN'],
 [1.0, 'AZ'],
 [1.0, 'C1'],
 [1.0, 'C3'],
 [1.0, 'C4'],
 [1.0, 'C5'],
 [1.0, 'DE'],
 [1.0, 'FZ'],
 [1.0, 'GZ'],
 [1.0, 'HZ'],
 [1.0, 'IZ'],
 [1.0, 'JZ'],
 [1.0, 'KZ'],
 [1.0, 'LZ'],
 [1.0, 'OQ'],
 [1.0, 'RU']]

On est proche de 1 à chaque fois : conclusion les secteurs ont comme meme des descriptions differentes

# Analyse

In [312]:
#Va à la ligne d'une base de données, pour calculer la similarité de la description avec nos bag of word

def analyse(X_test, ligne, new_bag_of_word):
    
    offer = X_test.loc[ligne,"entreprise"]
        
    offer["description"]
    description = re.findall(r'^|\w+',offer["description"].lower())

    temp = []
    for x in description:
        try :
            if type(int(x[0])) == int:
                None
        except :
            if len(x) > 3:
                temp.append(x)            
        description = temp
          
    base = set(description)
    
    similarite = []
    for lettre, descriptif in new_bag_of_word.items(): 
        similarite.append([1 - len(base.intersection(descriptif)) / len(base.union(descriptif)), lettre])

    similarite.sort()


    return similarite
    
similarite = analyse(X_test, 2, new_bag_of_word)
similarite

[[0.9904458598726115, 'HZ'],
 [0.9957865168539326, 'RU'],
 [0.9978753541076487, 'OQ'],
 [1.0, 'AZ'],
 [1.0, 'C1'],
 [1.0, 'C3'],
 [1.0, 'C4'],
 [1.0, 'C5'],
 [1.0, 'DE'],
 [1.0, 'FZ'],
 [1.0, 'GZ'],
 [1.0, 'IZ'],
 [1.0, 'JZ'],
 [1.0, 'KZ'],
 [1.0, 'LZ'],
 [1.0, 'MN']]

In [313]:
def verification(X_test, ligne, similarite):
    answer = ''

    for lettre in intitul :
        for x in dicoNAF[lettre]:
            if x == int(X_test.loc[ligne,"secteurActivite"]):
                answer = lettre
                break

    if min(similarite)[1] == answer:
        return("true")
    else:
#         return("false, " + "predict : " + min(similarite)[1] + ", truth : " + answer)
        return("false")
    
verification(X_test, 2, similarite)

'false'

In [319]:
def predicteur(X_test):
    resultat = []

    for i in range(0,X_test.shape[0]):
        similarite = analyse(X_test, i, new_bag_of_word) #calcul la similarite par ligne
        boleen = verification(X_test, i, similarite) #compare la label avec le predicteur
        resultat.append(boleen)

    return resultat

start_time = time.time()
resultat100000_150000 = predicteur(X_test)
print("--- %s seconds ---" % (time.time() - start_time))

--- 9.241762399673462 seconds ---

In [318]:
print("% of Correct answer : " + str((resultat100000_150000.count('true')/X_test.shape[0])*100))
print("% of Wrong answer : " + str((resultat100000_150000.count('false')/X_test.shape[0])*100))

% of Correct answer : 28.36800739713361
% of Wrong answer : 71.63199260286639